/*@keyframes foto-logo{
    0% {
        background: red;
        color:black;
    }
    100%{
        background: green;
        color:white;
        transform:rotate(45deg);
    }
}*/

body{
  	font-family: 'Raleway',sans-serif;
  	font-size: 16px;
 	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:visited,
a:link {
	text-decoration: none;
	outline: none;
	color: #C7C7CC;
}

.logo{

	width: 140px;
	height: 140px;
	display: block;
	position: absolute;
	padding-left: 90px;
}

.logo:hover{

}

.menu-nav{
	background-color: #2A2A34;
}
.container{
	max-width: 1200px;
	width: auto;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.titulo h1, .titulo p{
	color: #2A2A34;
	padding: 0 15px;
}

.menu-flex{
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}

.lista-nav{
	display: flex;
	list-style: none;
}

.lista-nav li{
	padding: 0 50px;
	margin: auto;
	color: #C7C7CC;
}

.header{
	background-color: #CCCCCC;
	padding:40px 0 0;
}
.img-header{
	width: 100%;
}

.img-header img{
	width: 100%;
	position: relative;
	top: 30px;
	border-radius: 5px;
	box-shadow: 5px 7px 6px #5F5F5F;
}

.header-flex{
	display: flex; 
}

.titulo{
	padding: 40px 0 0 50px;
}

.titulo-2 h2{
	text-align: center;
	padding-bottom: 30px;
}
.seccion{
	background-color: #E2E8E8;
	padding-top: 60px;
}

.caja-trabajo1,
.caja-trabajo2,
.caja-trabajo3, 
.caja-trabajo4 {
	width: 320px;
	height: 240px;
	margin: 0 auto;
}

.caja-descripcion-1, 
.caja-descripcion-2, 
.caja-descripcion-3, 
.caja-descripcion-4{
	height: auto;
	width: 320px;

}
.caja-trabajo3{
	background-image: url('../img/img-trabajo1.jpg');
	width: 320px;
	height: 240px;
	border: 1px solid;
	margin: 0 auto;
}
.caja-trabajo4{
	width: 320px;
	height: 240px;
	border: 1px solid;
	margin: 0 auto;
}

.seccion-flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tema-1, .tema-2, .tema-3, .tema-4{
	padding: 15px 30px;
	border:1px solid;
	border-radius: 15px;
	margin: 15px 0;
	box-shadow: 5px 7px 6px #5F5F5F;
}
.footer{
	background-color: #2A2A34;
	padding: 50px 0;
}
.footer-flex{
	display: flex;
	justify-content: center;
}

.footer-flex div{
	padding: 0	80px;
}
.redes-sociales h3, .contacto-footer h3{
	color: #C7C7CC;
}
.contacto-footer{
	border-left: 1px solid #C7C7CC;
}

.lista-redes{
	list-style: none;
}
.lista-redes li{
	padding: 15px 0;
	font-size: 1.5em;
	color: #C7C7CC;
}

.lista-redes li i{
	font-size: 3em;
}

.lista-contacto{
	list-style: none;
}
.lista-contacto li{
	padding: 15px 0;
	font-size: 1.5em;
	color: #C7C7CC;
}
.lista-contacto li i{
	font-size: 3em;
}


/*@media  screen and (min-width: 480px){

}*/



/*@media  screen and (min-width: 720px){

}*/