nav img {
	height: 50px;
	width: 50px;
}

nav {
	font-family: 'Raleway', sans-serif;
}

.subimage {
	position: absolute;
	top: 100px;
	left: 100px;
	background-color: lightgray;
	color:red;
}

.imagenPrincipal {
	position: relative;
	width: 100%;
}

section article img {
	height: 50px;
	width: 50px;
}
