

.img-logo {
	height:16px;
	width: 16px;
}

nav ul {
	font-family: 'Raleway', sans-serif;
	list-style: none;
	text-align: right;
	padding-right: 20%;
}

nav ul li {
	display: inline-block;
	padding: 15px;
}

nav ul li:first-child {
	padding-right: 500px;
}

.imagenPrincipal {
	background-image: url("img/bannerazul.jpg");
	padding: 100px 0px 100px 250px;
	
}

.subimagen {
	color:white;
}

.parrafoImgPrincipal {
	color:white;
}

.formBuscar {
	/*text-align: center;
	
	margin: auto;
	width: 250px;*/
	background-color: gray;
	position: absolute;

	
}

.cuatroarticulos {
	display: flex;
	justify-content: center;
}

.cuatroarticulos article {
	margin: 20px;
	text-align: center;
}

.cuatroarticulos article h3 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.icon-1de4 {
	color: white;
	background-color: #00ffff;
	height: 60px;
	width: 60px;
    border-radius: 70px;
    margin: auto;
}

.icon-1de4 i {
	padding-top: 20px;
}

.icon-2de4 {
	color: white;
	background-color: #ffbf00;
	height: 60px;
	width: 60px;
    border-radius: 70px;
    margin: auto;
}

.icon-2de4 i {
	padding-top: 20px;
}

.icon-3de4 {
	color: white;
	background-color: #ff4d4d;
	height: 60px;
	width: 60px;
    border-radius: 70px;
    margin: auto;
}

.icon-3de4 i {
	padding-top: 20px;
}
.icon-4de4 {
	color: white;
	background-color: #ff4000;
	height: 60px;
	width: 60px;
    border-radius: 70px;
    margin: auto;
}

.icon-4de4 i {
	padding-top: 20px;
}

.hostro-services {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.hostro-services i {
	color: #00ffbf;
}

.seisarticulos {
	display: flex;
}

.imagen4articulos {
	width: 100px;
	height: 100px;
}

.imagen6articulos{
	width: 60px;
	height: 60px;
}

.tablaprecio{
	background-image: url("img/fondotablaprecio.jpg");
	padding: 100px 0px 100px 0px;
	text-align: center;
}

.paquetesprecios {
	display: flex;
	justify-content: center;
	background-color: lightgray;
}

.caja-precio {
	background-color: gray;
	margin: 30px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.caja-precio ul {
	list-style-type: none;
	text-align: left;
}

.hosting {
	background-color: darkblue;
}

.parrafohosting {
	color: white;
	text-align: center;
	padding: 100px 0px 100px 0px;
}

.pie {
	background-color: gray;
}
.pie ul {
	font-family: 'Raleway', sans-serif;
	list-style-type: none;
	text-align: right;
	padding-right: 20%;

}

.pie ul li {
	display: inline;
	padding-left: 15px;
}

.pie ul li:first-child {
	padding-right: 500px;
}